.pad-down-gallary { 
    padding-top: 110px; /* Adjust the value as needed */ 
} 
.pad-down { 
    padding-top: 50px; /* Adjust the value as needed */ 
} 

.pad-up-event {
    padding-top: 200px;
}
.pad-down-event {
    padding-bottom: 100px;
}